/* src/components/Profile/FundProfileForm.css */
.fund-profile-form {
    max-width: 900px;
    margin: 0 auto;
    padding: 40px 20px;
  }
  
  @media (max-width: 900px) {
    .fund-profile-form {
      padding: 20px 10px;
    }
  }