/* src/components/Layout/AuthenticatedLayout.css */
.authenticated-layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .authenticated-layout .content {
    flex: 1;
    padding-bottom: 30px; /* Match the height of the status bar */
  }